
class CGMESProfile {
    static profileUrls = {  // Those are strings, not real addresses, hence the NOSONAR.
{{#profiles}}
        "{{short_name}}": [
{{#uris}}
            "{{uri}}",  // NOSONAR
{{/uris}}
        ],
{{/profiles}}
    };
    static shortNames = {
{{#profiles}}
        "{{short_name}}": {{index}},
{{/profiles}}
    };
}

export default CGMESProfile

export const CIM_NAMESPACE = "{{cim_namespace}}"  // NOSONAR
