
class CGMESProfile {
    static profileUrls = {
{{#profiles}}
        "{{short_name}}": [
{{#uris}}
            "{{uri}}",
{{/uris}}
        ],
{{/profiles}}
    };
    static shortNames = {
{{#profiles}}
        "{{short_name}}": {{index}},
{{/profiles}}
    };
}

export default CGMESProfile

export const CIM_NAMESPACE = "{{cim_namespace}}"
