package cim4j;

import java.util.List;
import java.util.Map;
import java.util.HashMap;
import cim4j.{{sub_class_of}};
import java.lang.ArrayIndexOutOfBoundsException;
import java.lang.IllegalArgumentException;

{{#langPack._create_attribute_includes}}{{attributes}}{{/langPack._create_attribute_includes}}

{{#langPack._create_attribute_class_declarations}}{{attributes}}{{/langPack._create_attribute_class_declarations}}

/*
{{{class_comment}}}
*/
public class {{class_name}} extends {{sub_class_of}}
{
	private BaseClass[] {{class_name}}_class_attributes;
	private BaseClass[] {{class_name}}_primitive_attributes;
	private java.lang.String rdfid;

	public void setRdfid(java.lang.String id) {
		rdfid = id;
	}

	private abstract interface PrimitiveBuilder {
		public abstract BaseClass construct(java.lang.String value);
	};

	private enum {{class_name}}_primitive_builder implements PrimitiveBuilder {
	{{#primitives}}
	{{> label}}(){
			public BaseClass construct (java.lang.String value) {
				return new {{attribute_class}}(value);
			}
		},
	{{/primitives}}
		LAST_ENUM() {
			public BaseClass construct (java.lang.String value) {
				return new cim4j.Integer("0");
			}
		};
	}

	private enum {{class_name}}_class_attributes_enum {
	{{#attributes}}
	{{> label}},
	{{/attributes}}
		LAST_ENUM;
	}

	{{#attributes}}
	{{#langPack.create_class_assign}}{{.}}{{/langPack.create_class_assign}}
	{{/attributes}}

	public {{class_name}}() {
		{{class_name}}_primitive_attributes = new BaseClass[{{class_name}}_primitive_builder.values().length];
		{{class_name}}_class_attributes = new BaseClass[{{class_name}}_class_attributes_enum.values().length];
	}

	public void updateAttributeInArray({{class_name}}_class_attributes_enum attrEnum, BaseClass value) {
		try {
			{{class_name}}_class_attributes[attrEnum.ordinal()] = value;
		}
		catch (ArrayIndexOutOfBoundsException aoobe) {
			System.out.println("No such attribute: " + attrEnum.name() + ": " + aoobe.getMessage());
		}
	}

	public void updateAttributeInArray({{class_name}}_primitive_builder attrEnum, BaseClass value) {
		try {
			{{class_name}}_primitive_attributes[attrEnum.ordinal()] = value;
		}
		catch (ArrayIndexOutOfBoundsException aoobe) {
			System.out.println("No such attribute: " + attrEnum.name() + ": " + aoobe.getMessage());
		}
	}

 	public void setAttribute(java.lang.String attrName, BaseClass value) {
		try {
			{{class_name}}_class_attributes_enum attrEnum = {{class_name}}_class_attributes_enum.valueOf(attrName);
			updateAttributeInArray(attrEnum, value);
			System.out.println("Updated {{class_name}}, setting " + attrName);
		}
		catch (IllegalArgumentException iae)
		{
			super.setAttribute(attrName, value);
		}
	}

	/* If the attribute is a String, it is a primitive and we will make it into a BaseClass */
 	public void setAttribute(java.lang.String attrName, java.lang.String value) {
		try {
			{{class_name}}_primitive_builder attrEnum = {{class_name}}_primitive_builder.valueOf(attrName);
			updateAttributeInArray(attrEnum, attrEnum.construct(value));
			System.out.println("Updated {{class_name}}, setting " + attrName  + " to: "  + value);
		}
		catch (IllegalArgumentException iae)
		{
			super.setAttribute(attrName, value);
		}
	}

	public java.lang.String toString(boolean topClass) {
		java.lang.String result = "";
		java.lang.String indent = "";
		if (topClass) {
			for ({{class_name}}_primitive_builder attrEnum: {{class_name}}_primitive_builder.values()) {
				BaseClass bc = {{class_name}}_primitive_attributes[attrEnum.ordinal()];
				if (bc != null) {
					result += "    {{class_name}}." + attrEnum.name() + "(" + bc.debugString() + ")" + " " + bc.toString(false) + System.lineSeparator();
				}
			}
			for ({{class_name}}_class_attributes_enum attrEnum: {{class_name}}_class_attributes_enum.values()) {
				BaseClass bc = {{class_name}}_class_attributes[attrEnum.ordinal()];
				if (bc != null) {
					result += "    {{class_name}}." + attrEnum.name() + "(" + bc.debugString() + ")" + " " + bc.toString(false) + System.lineSeparator();
				}
			}
			result += super.toString(true);
		}
		else {
			result += "({{class_name}}) RDFID: " + rdfid;
		}
		return result;
	}

	public final java.lang.String debugName = "{{class_name}}";

	public java.lang.String debugString()
	{
		return debugName;
	}

	public void setValue(java.lang.String s) {
		System.out.println(debugString() + " is not sure what to do with " + s);
	}

	public BaseClass construct() {
		return new {{class_name}}();
        }
};
