#ifndef {{class_name}}_H
#define {{class_name}}_H

#include "{{subClassOf}}.hpp"
{{#langPack._create_attribute_includes}}{{attributes}}{{/langPack._create_attribute_includes}}

/*
{{{class_comment}}}
*/
class {{class_name}}: public {{subClassOf}}
{
public:
{{#attributes}}
	{{> class}} *_{{label}}; 	/* {{comment}} Default: {{#langPack._set_default}}{{dataType}}{{/langPack._set_default}} */
{{/attributes}}

{{#attributes}}
void {{class_name}}_set{{label}}({{class_name}}* obj, {{> class}}* _{{label}}_);
{{/attributes}}

enum class {{class_name}}Enum {
{{#instances}}
	{{label}},
{{/instances}}
};

	/* constructor initialising all attributes to null */
	{{class_name}}();
	virtual ~{{class_name}}();
};

BaseClass* {{class_name}}_factory();

#endif
