from .{{subclass_of}} import {{subclass_of}}
from .CGMESProfile import Profile


class {{class_name}}({{subclass_of}}):
    """
    {{{class_comment}}}

{{#attributes}}
    :{{label}}: {{{comment}}} Default: {{#set_default}}{{datatype}}{{/set_default}}
{{/attributes}}
    """

    possibleProfileList = {
        "class": [{{#class_origin}}Profile.{{origin}}.value, {{/class_origin}}],
{{#attributes}}
        "{{label}}": [{{#attr_origin}}Profile.{{origin}}.value, {{/attr_origin}}],
{{/attributes}}
    }

    serializationProfile = {}

    recommendedClassProfile = Profile.{{recommended_class_profile}}.value

{{#super_init}}
    __doc__ += "\nDocumentation of parent class {{subclass_of}}:\n" + {{subclass_of}}.__doc__
{{/super_init}}

    def __init__(self{{#attributes}}, {{label}} = {{#set_default}}{{datatype}}{{/set_default}}{{/attributes}}{{#super_init}}, *args, **kw_args{{/super_init}}):
{{#super_init}}
        super().__init__(*args, **kw_args)
{{/super_init}}

{{#attributes}}
        self.{{label}} = {{label}}
{{/attributes}}
{{^attributes}}
        pass
{{/attributes}}

    def __str__(self):
        str = "class={{class_name}}\n"
        attributes = self.__dict__
        for key in attributes.keys():
            str = str + key + "={}\n".format(repr(attributes[key]))
        return str
