#include <sstream>
#include <iostream>
#include "{{class_name}}.hpp"

using namespace CIMPP;

namespace CIMPP {
	std::istream& operator>>(std::istream& lop, CIMPP::{{class_name}}& rop)
	{
		std::string EnumSymbol;
		lop >> EnumSymbol;

		size_t pos = EnumSymbol.find_first_of('.');
		if(EnumSymbol.substr(0, pos) != "{{class_name}}")
		{
			lop.setstate(std::ios::failbit);
			return lop;
		}

		EnumSymbol = EnumSymbol.substr(pos + 1);

{{#instances}}
		if(EnumSymbol == "{{label}}")
		{
			rop = {{class_name}}::{{label}};
			return lop;
		}
{{/instances}}

		lop.setstate(std::ios::failbit);
		return lop;
	}
}

