package cim4j;

import java.util.Map;
import java.util.HashMap;
import java.lang.ArrayIndexOutOfBoundsException;
import java.lang.IllegalArgumentException;

/*
{{{class_comment}}}
*/
public class {{class_name}} extends BaseClass
{
	private enum {{class_name}}_ENUM
	{
	{{#instances}}
		/**
		 * {{comment}}
		 */
		{{label}},
	{{/instances}}
		MAX_{{class_name}}_ENUM;
	}

	private {{class_name}}_ENUM value;

	public BaseClass construct() {
		return new {{class_name}}();
        }

	public {{class_name}}() {}

	public {{class_name}}(java.lang.String s) {
		setValue(s);
        }

	public void setValue(java.lang.String s) {
		try
		{
			value = {{class_name}}_ENUM.valueOf(s.trim());
		}
		catch (IllegalArgumentException iae)
		{
			System.out.println("NumberFormatException: " + iae.getMessage());
		}
        }

	public void setAttribute(java.lang.String a, java.lang.String s) {
		try
		{
			value = {{class_name}}_ENUM.valueOf(s.trim());
		}
		catch (IllegalArgumentException iae)
		{
			System.out.println("NumberFormatException: " + iae.getMessage());
		}
        }

	public void setAttribute(java.lang.String attributeName, BaseClass value) {
		throw new IllegalArgumentException("ENUM cannot set attribute: " + attributeName);
	}

	private java.lang.String debugName = "{{class_name}}";

	public java.lang.String debugString(){
		return debugName;
	}

	public java.lang.String toString(boolean b) {
		return "Enum (" + value.toString() + ")";
	}
};

