package cimgostructs

type {{.Id}} struct {
    {{.SuperType}}

{{- range .Attributes}}
{{- if .IsUsed}}
{{- if eq .Label "mRID"}}
    MRID string `xml:"ID,attr"`
{{- else if .IsPrimitive}}
    {{capitalizeFirstLetter .Label}} {{mapDataTypeGo .DataType}} `xml:"{{.Id}},omitempty"`
{{- else if .IsEnumValue}}
    {{capitalizeFirstLetter .Label}} *struct {
        URI string `xml:"resource,attr"`
    } `xml:"{{.Id}},omitempty"`
{{- else}}
    {{capitalizeFirstLetter .Label}} *struct {
        MRID string `xml:"resource,attr"`
    } `xml:"{{.Id}},omitempty"`
{{- end}}
{{- end}}
{{- end}}
}

var info{{.Id}} = CIMTypeInfo{
    Id: "{{.Id}}",
    Label: "{{.Label}}",
    Namespace: "{{.Namespace}}",
    Comment: "{{.Comment}}",
    SuperType: "{{.SuperType}}",
    Origin: "{{.Origin}}",
    Origins: []string{ {{- range .Origins}}
        "{{.}}",{{- end}} },
    Attributes: map[string]CIMAttributeInfo{
{{- range .Attributes}}
{{- if .IsUsed}}
        "{{.Id}}": {
            Label: "{{.Label}}",
            IsList: {{.IsList}},
        },
{{- end}}
{{- end}}
    },
}
