package cimgo

var StructMap = map[string]func() interface{}{
{{- range .Types}}
    {{- if eq .Stereotype "concrete"}}
    "{{.Id}}": func() interface{} {
        return &{{.Id}}{}
    },
    {{- end}}
{{- end}}
}
