package cimgo

type {{.Id}} struct {
    {{.SuperType}}

{{- range .Attributes}}
{{- if .IsUsed}}
{{- if eq .Label "mRID"}}
    MRID string `xml:"ID,attr"`
{{- else if .IsPrimitive}}
    {{capitalizefirstletter .Label}} {{mapDataTypeGo .DataType}} `xml:"{{.Id}},omitempty"`
{{- else if .IsEnumValue}}
    {{capitalizefirstletter .Label}} *struct {
        URI string `xml:"resource,attr"`
    } `xml:"{{.Id}}"`
{{- else}}
    {{capitalizefirstletter .Label}} *struct {
        MRID string `xml:"resource,attr"`
    } `xml:"{{.Id}}"`
{{- end}}
{{- end}}
{{- end}}
}
